{% extends 'base.html' %}
{% block content %}

<h1>Guitar Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ guitar.brand }}</span>
        <p>Model: {{ guitar.model }}</p>
        <p>Color: {{ guitar.color }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'guitars_update' guitar.id %}">Edit</a>
        <a href="{% url 'guitars_delete' guitar.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">
    <form action="{% url 'add_tuned' guitar.id %}" method="POST">
      {% csrf_token %}
      {{ tuned_form.as_p }}
      <input type="submit" class="btn" value="Add Tuning">
    </form>
    <table class="striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Tuning</th>
        </tr>
      </thead>
      <tbody>
        {% for tuned in guitar.tuned_set.all %}
        <tr>
          <td>{{tuned.date}}</td>
          <td>{{tuned.get_tuning_display}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<!-- This is all new markup to be added just above the <script> tag -->
<hr>
<div class="row">
  <div class="col s6">
    <h3>{{ guitar.brand }}'s Players</h3>
    {% if guitar.players.count %}
    {% for player in guitar.players.all %}
    <div class="card">
      <div class="card-content">
        <span class="card-title">
          <span>{{ player.band }}</span> {{ player.name }}
        </span>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <h5>No Players :(</h5>
    {% endif %}
  </div>
  <!-- Available players will come after this line -->
  <div class="col s6">
    <h3>Available Players</h3>
    {% if players.count %}
    {% for player in players.all %}
    <div class="card">
      <div class="card-content">
        <span class="card-title">
          <span>{{ player.band }}</span> {{ player.name }}
        </span>
      </div>
      <div class="card-action">
        <form action="{% url 'assoc_player' guitar.id player.id %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="btn">Add</button>
        </form>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <h5>{{guitar.brand}} Already Has All Players Available</h5>
    {% endif %}
  </div>


  <script>
    const dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
      format: 'yyyy-mm-dd',
      defaultDate: new Date(),
      setDefaultDate: true,
      autoClose: true
    });

    // add additional JS to initialize select below
    const selectEl = document.getElementById('id_tuning');
    M.FormSelect.init(selectEl);
  </script>
  {% endblock %}